@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-custom {
    @apply btn h-auto min-h-0 bg-[var(--gray-100)] capitalize text-inherit hover:bg-[var(--gray-200)];
  }
}

:root {
  --gray-400: #d9d9d98e;

  --text-gray: #808080;
  --text-lighter: hsla(0, 0%, 12%, 0.812);
  --text-base: hsl(0, 0%, 12%);

  --gray-100: hsl(180, 2%, 90%);
  --gray-200: hsla(0, 0%, 78%, 0.618);
  --gray-300: hsla(0, 0%, 78%, 0.749);

  --white-base: #fcfcfc;
  --white-secondary: #f7f7f7;
  --white-tertiary: #fbf9fa;
  /* Font */
  --h1: 2rem;

  /* breakpoints */
  /* md: 768px */
}

html{
  scroll-behavior: smooth;
}
.padding-fluid {
  padding: 0 40px;
}

.title {
  font-size: clamp(1.25rem, -0.5rem + 3.6vw, 1.75rem);
}

.resize-svg svg {
  width: 85%;
}
@media (min-width: 768px) {
  .resize-svg svg {
    width: 100%;
  }
}

input:focus,
input:focus-visible,
input:focus-within {
  border: var(--text-lighter) solid 2px;
  outline: none !important;
}

.label-text-alt {
  font-size: 10px;
}
.bg-style {
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .bg-style {
    background-position: 40% center;
  }
}
.bullet::before {
  content: '';
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 4px;
  background-color: #808080;
  position: absolute;
  left: -7px;
  bottom: 25%;
}

/* .widget--sticky {
  background-color: aquamarine;
} */

.custom-h-img {
  height: clamp(10rem, 72cqw, 40rem);
}

.file-input::file-selector-button {
  background-color: var(--gray-100);
  color: var(--text-base);
  border: none;
  font-size: 0.75rem !important;
}
