@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--gray-400: #d9d9d98e;
	--gray-200: #c6c3bd;
	--text-base: #1e1e1e;

	--gray-100: #e5e6e6;
	--gray-300: #c6c6c6bf;
	/* Font */
	--h1: 2rem;

	/* breakpoints */
	/* md: 768px */
}

.padding-fluid {
	padding: 0 40px;
}

.title {
	font-size: clamp(1.25rem, -0.5rem + 3.6vw, 1.75rem);
}
.resize-svg svg {
	width: 85%;
}

@media (min-width: 768px) {
	.resize-svg svg {
		width: 100%;
	}
}
